@import url('node_modules/dragula/dist/dragula.css');
@import url('node_modules/dragula/dist/dragula.min.css');

.right-separator {
    margin-left: 8px;
}

.external-outline {
    outline: 1px solid #ccc;
    outline-offset: 1px;
}

.split-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

.split-divider {
    display: table-cell; /* Make elements inside the container behave like table cells */
    width: 1.9999%;
}

.split-half {
    display: table-cell; /* Make elements inside the container behave like table cells */
    width: 48.9999%;
}

.split-third {
    display: table-cell; /* Make elements inside the container behave like table cells */
    width: 31.9999%;
}

.split-third {
    display: table-cell; /* Make elements inside the container behave like table cells */
    width: 65.9999%;
}
