<div class="">
  <form [formGroup]="quadrantForm">
    <div class="form-group">
      <div class="w3-row w3-section w3-row-padding">
        <div class="w3-container w3-half">
          <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-book"></i></div>
          <div class="w3-rest">
            <select class="w3-select"  formControlName="taskList">
              <option value="" disabled selected>Choose your option</option>
              <option *ngFor="let taskList of taskLists"
                      value={{taskList.taskListId}}>
                      {{taskList.title}}
              </option>
            </select>
          </div>
        </div>
        <div class="w3-container w3-half">
          Form value: {{ quadrantForm.value | json }}
        </div>
      </div>
    </div>
  </form>
</div>

<div class="">
  <div class="w3-twothird">
    <div class="split-container">
      <div class="split-half w3-red external-outline w3-row-padding">
          <div class="small-caps w3-xlarge">Focus</div>
      </div>
      <div class="split-divider">
      </div>
      <div class="split-half w3-yellow external-outline w3-row-padding">
          <div class="small-caps w3-xlarge">Plan</div>
      </div>
      <div class="right-separator">
        <!-- vertical static margin (allows responsive) -->
      </div>
    </div>
    <div class="split-container w3-margin-bottom">
      <div class="split-half w3-red external-outline" [dragula]='"first-bag"' [dragulaModel]='tasks'>
        <ng-container *ngFor="let task of tasks">
          <ng-container *ngIf="quadrantMatch(task, 1)">
              <div [attr.id]="task.id" class="w3-padding-small w3-hover-white w3-border">
                  {{task.title}}
              </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="split-divider">
      </div>
      <div class="split-half w3-yellow external-outline" [dragula]='"first-bag"' [dragulaModel]='tasks'>
        <ng-container *ngFor="let task of tasks">
          <ng-container *ngIf="quadrantMatch(task, 2)">
              <div [attr.id]="task.id" class="w3-padding-small w3-hover-white w3-border">
                  {{task.title}}
              </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="right-separator">
        <!-- vertical static margin (allows responsive) -->
      </div>
    </div>  
    <div class="split-container">
        <div class="split-half w3-green external-outline w3-row-padding">
            <div class="small-caps w3-xlarge">Delegate</div>
          </div>
        <div class="split-divider">
        </div>
        <div class="split-half w3-gray external-outline w3-row-padding">
            <div class="small-caps w3-xlarge">Eliminate</div>
          </div>
        <div class="right-separator">
        <!-- vertical static margin (allows responsive) -->
        </div>
      </div>
      <div class="split-container w3-margin-bottom">
      <div class="split-half w3-green external-outline" [dragula]='"first-bag"' [dragulaModel]='tasks'>
        <ng-container *ngFor="let task of tasks">
          <ng-container *ngIf="quadrantMatch(task, 3)">
              <div [attr.id]="task.id" class="w3-padding-small w3-hover-white w3-border">
                  {{task.title}}
              </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="split-divider">
      </div>
      <div class="split-half w3-gray external-outline" [dragula]='"first-bag"' [dragulaModel]='tasks'>
        <ng-container *ngFor="let task of tasks">
          <ng-container *ngIf="quadrantMatch(task, 4)">
              <div [attr.id]="task.id" class="w3-padding-small w3-hover-white w3-border">
                  {{task.title}}
              </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="right-separator">
        <!-- vertical static margin (allows responsive) -->
      </div>
    </div>
  </div>
  <div class="w3-third">
    <div style="margin-right: 8px;">
      <div class="">
        <div class="w3-blue external-outline w3-row-padding">
            <div class="small-caps w3-xlarge">Unspecified</div>
          </div>
      </div>
      <div class="">
        <div class="w3-blue external-outline" [dragula]='"first-bag"' [dragulaModel]='tasks'>
          <ng-container *ngFor="let task of tasks">
            <ng-container *ngIf="quadrantMatch(task, null)">
                <div [attr.id]="task.id" class="w3-padding-small w3-hover-white w3-border">
                    {{task.title}}
                </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>