<div class="w3-panel">
  <div class="w3-row-padding">
    <div class="w3-twothird container">
      <div class="info-box-main w3-margin-bottom">
        <div class="w3-margin-bottom">
          This app provides you with a key feature that is currently missing in most task apps today - easy prioritization of your Google Tasks using a simple and proven method.
        </div>
        <div class="w3-margin-bottom">
          This tool combines the power of Google's Task framework with the proven strategies of <a href='https://www.entrepreneur.com/article/233054' target="_blank" class="inline-link">Dwight D. Eishenhower</a> and <a href='https://www.businessinsider.com/how-to-use-stephen-coveys-time-management-matrix-2015-12' target="_blank" class="inline-link">Steven Covey</a>.
        </div>
        <div class="">
            <a href='/quadrant' class="inline-link">Use TaskAssist Now to Organize Your Google Tasks.</a>
        </div>
      </div>
      <div class="info-box-main w3-margin-bottom">
        <div class="w3-margin-bottom">
          Your Google password is used to access your Google data, but your information is known only by Google.
          All calls are passed from your browser directly through Google's secure API channels.
        </div>
        <div class="">
          <a href='https://www.youtube.com/watch?v=c5MOyMZBI20' target="_blank" class="inline-link">AVG has published a video</a> explaining more about proxy logins.
          As always, if you are using a public computer, do sign out and clear the cache when you leave.
        </div>
      </div>
      <div class="info-box-main w3-margin-bottom">
        <div class="">
          In addition to articles published by 
          <a href='https://www.entrepreneur.com/article/233054' target="_blank" class="inline-link">Entrepreneur</a> and <a href='https://www.businessinsider.com/how-to-use-stephen-coveys-time-management-matrix-2015-12' target="_blank" class="inline-link">Business Insider</a>,
          there are also several introductory videos on
          <a href='https://www.google.com/search?q=eisenhower+matrix&amp;tbm=vid' target="_blank" class="inline-link">videos on YouTube</a>
          discussing the Eisenhower Matrix.
        </div>
      </div>
    </div>
    <div class="w3-third container">
      <div class="info-box w3-margin-bottom">
        This app was created by <a href='https://www.linkedin.com/in/cgherman' target="_blank" class="inline-link">Chris Herman</a>.  Chris is a software professional with over 15 years' experience in soup-to-nuts software delivery.
        <div class="w3-margin-top">
          <button id="close-image" mat-raised-button onclick="window.open('https://www.linkedin.com/in/cgherman','_blank')"><img height="27" width=" 100" src="/assets/linkedin-logo.png"></button>
        </div>
      </div>
      <div class="info-box w3-margin-bottom">
        The <a href='https://github.com/cgherman/task-assist' target="_blank" class="inline-link">source code</a> for this app is available on GitHub.
        <div class="w3-margin-top">
          <button id="close-image" mat-raised-button onclick="window.open('https://github.com/cgherman/task-assist','_blank')"><img height="37" width=" 100" src="/assets/github-logo.png"></button>
        </div>
      </div>
      </div>
  </div>
</div>
