<!-- Action Menu for Tasks -->
<mat-menu #taskActionMenu="matMenu">
  <ng-template matMenuContent let-name="name">
    <ng-container *ngFor="let mainItem of menuActionTask">
      <button mat-menu-item (click)="selectMenuAction(mainItem, name.id)">{{ mainItem }}</button>
    </ng-container>
  </ng-template>
</mat-menu>
<!-- TODO: Nested menus for different action types
<mat-menu #taskActionMenu="matMenu">
  <ng-template matMenuContent let-name="name">
    <ng-container *ngFor="let mainItem of objectKeys(menuActionTask)">

      <button mat-menu-item [matMenuTriggerFor]="sub_menu">{{ mainItem }}</button>
      <mat-menu #sub_menu="matMenu">
      <button *ngFor="let subItem of menuActionTask[mainItem]" (click)="selectMenuAction(subItem, name.id)" mat-menu-item>{{ subItem }}</button>
      </mat-menu>
    
    </ng-container>
  </ng-template>
</mat-menu>
-->

<!-- Form Elements -->
<div class="w3-animate-opacity">
  <form [formGroup]="quadrantForm">
    <div class="form-group">
      <div class="w3-row w3-section w3-row-padding">
        <div class="w3-container">
          <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-book"></i></div>
          <div class="w3-rest" >
            <select class="w3-select" (ngModelChange)="onChangeTaskList($event)" formControlName="taskList" id="taskListDropDown">
              <option [selected]="true" disabled>{{openingStatement}}</option>
              <option *ngFor="let i = index; let taskList of taskLists | async "
                      [value]="taskList.id">
                {{taskList.title}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="w3-animate-opacity">
  <!-- Tier 1 -->
  <div class="quad-title-1 quad-border-1 w3-row-padding">
    <div class="quad-title w3-large">Focus: Urgent &amp; Important</div>
  </div>
  <div #quad1 id="QUAD1" class="quad-1 quad-border-1" style="min-height: 25px;">
    <ng-container *ngFor="let task of (tasks | async); let bagIndex = index;">
      <ng-container *ngIf="quadrantMatch(task, 1)">
        <div [attr.id]="task.id" [matMenuTriggerFor]="taskActionMenu" [matMenuTriggerData]="{name: task}" class="w3-padding-small w3-hover-white quad-border-flex w3-small">
          <div appLinkifyLinks="{{task.title}}"></div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="">&nbsp;</div>

  <!-- Tier 2 -->
  <div class="quad-title-2 quad-border-2 w3-row-padding">
    <div class="quad-title w3-large">Plan: Important Soon</div>
  </div>
  <div #quad2 id="QUAD2" class="quad-2 quad-border-2" style="min-height: 25px;">
    <ng-container *ngFor="let task of (tasks | async); let bagIndex = index;">
      <ng-container *ngIf="quadrantMatch(task, 2)">
        <div [attr.id]="task.id" [matMenuTriggerFor]="taskActionMenu" [matMenuTriggerData]="{name: task}" class="w3-padding-small w3-hover-white quad-border-flex w3-small">
          <div appLinkifyLinks="{{task.title}}"></div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="">&nbsp;</div>

  <!-- Tier 3 -->
  <div class="quad-title-3 quad-border-3 w3-row-padding">
    <div class="quad-title w3-large">Delegate: Hot but Unimportant</div>
  </div>
  <div #quad3 id="QUAD3" class="quad-3 quad-border-3" style="min-height: 25px;">
    <ng-container *ngFor="let task of (tasks | async); let bagIndex = index;">
      <ng-container *ngIf="quadrantMatch(task, 3)">
        <div [attr.id]="task.id" [matMenuTriggerFor]="taskActionMenu" [matMenuTriggerData]="{name: task}" class="w3-padding-small w3-hover-white quad-border-flex w3-small">
          <div appLinkifyLinks="{{task.title}}"></div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="">&nbsp;</div>

  <!-- Tier 4 -->
  <div class="quad-title-4 quad-border-4 w3-row-padding">
    <div class="quad-title w3-large">Eliminate: Cold &amp; Unimportant</div>
  </div>
  <div #quad4 id="QUAD4" class="quad-4 quad-border-4" style="min-height: 25px;">
    <ng-container *ngFor="let task of (tasks | async); let bagIndex = index;">
      <ng-container *ngIf="quadrantMatch(task, 4)">
        <div [attr.id]="task.id" [matMenuTriggerFor]="taskActionMenu" [matMenuTriggerData]="{name: task}" class="w3-padding-small w3-hover-white quad-border-flex w3-small">
          <div appLinkifyLinks="{{task.title}}"></div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="">&nbsp;</div>

  <!-- Tier undefined -->
  <div class="quad-title-0 quad-border-0 w3-row-padding">
    <div class="quad-title w3-large">Unspecified: Needs Assessment</div>
  </div>
  <div #quad0 id="QUAD0" class="quad-0 quad-border-0" style="min-height: 25px;">
    <ng-container *ngFor="let task of (tasks | async); let bagIndex = index;">
      <ng-container *ngIf="quadrantMatch(task, null)">
        <div [attr.id]="task.id" [matMenuTriggerFor]="taskActionMenu" [matMenuTriggerData]="{name: task}" class="w3-padding-small w3-hover-white quad-border-flex w3-small">
          <div appLinkifyLinks="{{task.title}}"></div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>