<div class="inline">
    <button id="signout-button" mat-raised-button [disabled]="!isSignedIn()"  onClick="onSignOut()">Sign Out</button>&nbsp;&nbsp;
</div>
<div class="inline">
    <div id="googleLogin" #googleLogin>[ Sign In ]</div>
    <div id="googleTriggerRender" #googleTriggerRender style="display: none; visibility: hidden;" hidden onClick="renderButton()"></div>
    <div id="googleExternalEventsCompleted" #googleExternalEventsCompleted style="display: none; visibility: hidden;" hidden (click)="onGoogleExternalEventsCompleted()"></div>
</div>