<!-- Action Menu for Tasks -->
<mat-menu #taskActionMenu="matMenu">
  <ng-template matMenuContent let-name="name">
    <ng-container *ngFor="let mainItem of menuActionTask">
      <button mat-menu-item (click)="selectTaskAction(mainItem, name.id)">{{ mainItem }}</button>
    </ng-container>
  </ng-template>
</mat-menu>
  
<!-- Form Elements -->
<div class="w3-animate-opacity">
  <form [formGroup]="quadrantForm">
    <div class="form-group">
      <div class="w3-row w3-section w3-row-padding">
        <div class="w3-container">
          <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-book"></i></div>
          <div class="w3-rest" >
            <select class="w3-select" (ngModelChange)="onChangeTaskList($event)" formControlName="taskList" id="taskListDropDown">
              <option [selected]="true" disabled>{{openingStatement}}</option>
              <option *ngFor="let i = index; let taskList of taskLists | async "
                      [value]="taskList.id">
                {{taskList.title}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Quadrant Matrix -->
<div class="w3-animate-opacity">
  <div class="w3-twothird">
    <!-- Content: Quad 1 & 2 -->
    <div class="split-container w3-margin-bottom">
      <div class="split-half">
        <div class="quad-title-1 quad-border-1 w3-row-padding">
          <div class="quad-title w3-large">Focus</div>
        </div>
        <div #quad1 id="QUAD1" class="quad-1 quad-border-1" style="min-height: 50px;" [dragula]='"taskBag"' [dragulaModel]='tasks' [dragulaOptions]='dragulaOptions'>
          <ng-container *ngFor="let task of (tasks | async); let bagIndex = index;">
            <ng-container *ngIf="quadrantMatch(task, 1)">
              <div [attr.id]="task.id" [matMenuTriggerFor]="taskActionMenu" [matMenuTriggerData]="{name: task}" delayDrag class="w3-padding-small w3-hover-white quad-border-1 w3-small">
                {{task.title}}
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <div class="split-divider">
      </div>
      <div class="split-half">
        <div class="quad-title-2 quad-border-2 w3-row-padding">
          <div class="quad-title w3-large">Plan</div>
        </div>
        <div #quad2 id="QUAD2" class="quad-2 quad-border-2" style="min-height: 50px;" [dragula]='"taskBag"' [dragulaModel]='tasks' [dragulaOptions]='dragulaOptions'>
          <ng-container *ngFor="let task of (tasks | async); let bagIndex = index;">
            <ng-container *ngIf="quadrantMatch(task, 2)">
              <div [attr.id]="task.id" [matMenuTriggerFor]="taskActionMenu" [matMenuTriggerData]="{name: task}" delayDrag class="w3-padding-small w3-hover-white quad-border-2 w3-small">
                {{task.title}}
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <div class="right-separator">
        <!-- vertical static margin (allows responsive) -->
      </div>
    </div>

    <div class="right-separator">
      <!-- vertical static margin (allows responsive) -->
    </div>
    
    <!-- Content: Quad 3 & 4 -->
    <div class="split-container w3-margin-bottom" >
      <div class="split-half">
        <div class="quad-title-3 quad-border-3 w3-row-padding">
          <div class="quad-title w3-large">Delegate</div>
        </div>
        <div #quad3 id="QUAD3" class="quad-3 quad-border-3" style="min-height: 50px;" [dragula]='"taskBag"' [dragulaModel]='tasks' [dragulaOptions]='dragulaOptions'>
          <ng-container *ngFor="let task of (tasks | async); let bagIndex = index;">
            <ng-container *ngIf="quadrantMatch(task, 3)">
              <div [attr.id]="task.id" [matMenuTriggerFor]="taskActionMenu" [matMenuTriggerData]="{name: task}" delayDrag class="w3-padding-small w3-hover-white quad-border-3 w3-small">
                {{task.title}}
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <div class="split-divider">
      </div>
      <div class="split-half">
        <div class="quad-title-4 quad-border-4 w3-row-padding">
          <div class="quad-title w3-large">Eliminate</div>
        </div>
        <div #quad4 id="QUAD4" class="quad-4 quad-border-4" style="min-height: 50px;" [dragula]='"taskBag"' [dragulaModel]='tasks' [dragulaOptions]='dragulaOptions'>
          <ng-container *ngFor="let task of (tasks | async); let bagIndex = index;">
            <ng-container *ngIf="quadrantMatch(task, 4)">
              <div [attr.id]="task.id" [matMenuTriggerFor]="taskActionMenu" [matMenuTriggerData]="{name: task}" delayDrag class="w3-padding-small w3-hover-white quad-border-4 w3-small">
                {{task.title}}
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <div class="right-separator">
        <!-- vertical static margin (allows responsive UI) -->
      </div>
    </div>
  </div>

  <!-- Content: Quad Undefined -->
  <div class="w3-third">
    <div style="margin-right: 8px;">
      <div class="">
        <div class="quad-title-0 quad-border-0 w3-row-padding">
          <div class="quad-title w3-large">Unspecified</div>
        </div>
      </div>
      <div class="w3-small">
        <div #quad0 id="QUAD0" class="quad-0 quad-border-0" style="min-height: 50px;" [dragula]='"taskBag"' [dragulaModel]='tasks' [dragulaOptions]='dragulaOptions'>
          <ng-container *ngFor="let task of (tasks | async); let bagIndex = index;">
            <ng-container *ngIf="quadrantMatch(task, null)">
              <div [attr.id]="task.id" [matMenuTriggerFor]="taskActionMenu" [matMenuTriggerData]="{name: task}" delayDrag class="w3-padding-small w3-hover-white quad-border-0 w3-small">
                {{task.title}}
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>