.quad-title {
    font-variant: small-caps;
}

.quad-border-1, .quad-border-2, .quad-border-3, .quad-border-4, .quad-border-0, .quad-border-flex {
    outline-offset: 0px;
}

.quad-border-flex {
    border-top: 0px solid rgba(255, 255, 255);
    border-left: 0px solid rgba(255, 255, 255);
    border-bottom: 1px solid rgba(170, 170, 170);
    border-right: 1px solid rgba(170, 170, 170);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-right: 1px solid rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.quad-1, .quad-2, .quad-3, .quad-4, .quad-0 {
    word-wrap: break-word;
}

.quad-1 {
    background-color: #f98;
}

.quad-title-1 {
    background-color: #e76;
}

.quad-border-1 {
    outline: 1px solid rgba(204, 123, 109);
}

.quad-2 {
    background-color: #ff7;
}

.quad-title-2 {
    background-color: #ed5;
}

.quad-border-2 {
    outline: 1px solid rgba(204, 204, 95);
}

.quad-3 {
    background-color: #8e8;
}

.quad-title-3 {
    background-color: #7c6;
}

.quad-border-3 {
    outline: 1px solid rgba(109, 191, 109);
}

.quad-4 {
    background-color: #ccb;
}

.quad-title-4 {
    background-color: #bba;
}

.quad-border-4 {
    outline: 1px solid rgba(163, 163, 150);
}

.quad-0 {
    background-color: #9cf;
}

.quad-title-0 {
    background-color: #6af;
}

.quad-border-0 {
    outline: 1px solid rgba(123, 163, 204);
}
