<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <script type="text/javascript" src="https://ajax.microsoft.com/ajax/jQuery/jquery-1.4.2.min.js"></script>

    <script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>

    <script type="text/javascript">
      function handleClientLoad() {
        // Loads the client library and the auth2 library together for efficiency.
        // Loading the auth2 library is optional here since `gapi.client.init` function will load
        // it if not already loaded. Loading it upfront can save one network request.

        gapi.load('client:auth2', initClientWithSettings);
      }

      function initClientWithSettings() {
        // Get API key and OAuth client ID from app-specific JSON file
        // Create a new project & corresponding credentials here: https://console.developers.google.com/apis/credentials
        $.getJSON('/assets/api_key.json', function(data) {
          initClient(data.api_key, data.client_id);
        });
      }

      function initClient(api_key, client_id) {
        // 1) Initialize the client with API key and discovery URL for the Tasks API
        // 2) initialize OAuth with an OAuth 2.0 client ID
        // 3) Adjust scopes (space delimited string) as needed to request access.
        gapi.client.init({
            apiKey: api_key,
            discoveryDocs: ["https://www.googleapis.com/discovery/v1/apis/tasks/v1/rest"],
            clientId: client_id,
            scope: 'https://www.googleapis.com/auth/tasks'
        }).then(function () {
          // Listen for sign-in state changes.
          gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);

          // Handle the initial sign-in state.
          updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
        });
      }

      function updateSigninStatus(isSignedIn) {
        // When signin status changes, this function is called.
        // If the signin status is changed to signedIn, we make an API call.
        if (isSignedIn) {
          makeApiCall();
        }
      }

      function handleSignInClick(event) {
        // Ideally the button should only show up after gapi.client.init finishes, so that this
        // handler won't be called before OAuth is initialized.
        gapi.auth2.getAuthInstance().signIn();
      }

      function handleSignOutClick(event) {
        gapi.auth2.getAuthInstance().signOut();
      }

      function makeApiCall() {
        gapi.client.tasks.tasklists.list({
        }).then(function(response) {
          console.log('Successful fetch of Task Lists.');
          for (index = 0; index < response.result.items.length; index++) {
            console.log(response.result.items[index].title);
          }
        }, function(rejectReason) {
          console.log('Error: ' + rejectReason.result.error.message);
        });
      }
    </script>

  <app-quadrant></app-quadrant>
</div>