<div class="w3-container">
  <div class="w3-left">
    <label class="w3-large">Drag-n-drop Your Tasks</label>
  </div>
  <div class="w3-right">
    <div class="w3-container">
      <div class="w3-left" *ngIf="true">
        <button id="signout-button" onClick="onSignOut()">Sign Out</button>&nbsp;&nbsp;
      </div>
      <div class="w3-right">
        <div id="glogin" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark">[Sign In]</div>
      </div>
    </div>
  </div>
</div>  

<div>
  <router-outlet></router-outlet>
</div>