/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import url('https://www.w3schools.com/w3css/4/w3.css');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.small-caps {
    font-variant: small-caps;
}

.right-separator {
    margin-left: 8px;
}

.external-outline {
    outline: 1px solid #ccc;
    outline-offset: 1px;
}

.split-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

.split-divider {
    display: table-cell; /* Make elements inside the container behave like table cells */
    width: 1.9999%;
}

.split-half {
    display: table-cell; /* Make elements inside the container behave like table cells */
    width: 48.9999%;
}

.split-third {
    display: table-cell; /* Make elements inside the container behave like table cells */
    width: 31.9999%;
}

.split-third {
    display: table-cell; /* Make elements inside the container behave like table cells */
    width: 65.9999%;
}
