/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import url('https://www.w3schools.com/w3css/4/w3.css');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.info-box-main {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;    
}

.info-box {
    border-radius: 10px;
    background-color: #eef;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;    
}

.inline-link {
    color: #00c;
}

.menu-title-font {
    font-variant: small-caps;
}

.null-as-blank:after {
    content: '\200b';
}

.quad-1 {
    background-color: #f98;
}

.quad-title-1 {
    background-color: #e76;
}

.quad-border-1 {
    outline: 1px solid #e76;
    outline-offset: 0px;
}

.quad-2 {
    background-color: #ff7;
}

.quad-title-2 {
    background-color: #ed5;
}

.quad-border-2 {
    outline: 1px solid #ed5;
    outline-offset: 0px;
}

.quad-3 {
    background-color: #8e8;
}

.quad-title-3 {
    background-color: #7c6;
}

.quad-border-3 {
    outline: 1px solid #7c6;
    outline-offset: 0px;
}

.quad-4 {
    background-color: #ccb;
}

.quad-title-4 {
    background-color: #bba;
}

.quad-border-4 {
    outline: 1px solid #bba;
    outline-offset: 0px;
}

.quad-0 {
    background-color: #9cf;
}

.quad-title-0 {
    background-color: #6af;
}

.quad-border-0 {
    outline: 1px solid #6af;
    outline-offset: 0px;
}

.quad-title {
    font-variant: small-caps;
}
