/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import url('https://www.w3schools.com/w3css/4/w3.css');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.menu-title-font {
    font-variant: small-caps;
}

.null-as-blank:after {
    content: '\200b';
}

.quad-title-1 {
    background-color: #e76;
}

.quad-1 {
    background-color: #f98;
}

.quad-title-2 {
    background-color: #ed5;
}

.quad-2 {
    background-color: #ff7;
}

.quad-title-3 {
    background-color: #7c6;
}

.quad-3 {
    background-color: #8e8;
}

.quad-title-4 {
    background-color: #bba;
}

.quad-4 {
    background-color: #ccb;
}

.quad-title-0 {
    background-color: #6af;
}

.quad-0 {
    background-color: #9cf;
}

.quad-title {
    font-variant: small-caps;
}
